html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: grid;
    align-items: center;
    justify-items: center;
}

.board {
    width:650px;
    height:650px;
    display: grid;
    /* grid-template-columns: repeat(15,1fr); */
    /* grid-template-rows: repeat(15,1fr); */
    /* gap:1px; */
    /* border:1px solid black; */
    background-color: coral;
}

div {
    border:1px solid black;
}