html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: rgb(233, 217, 207);
}

.board {
    width:650px;
    height:650px;
    display: grid;
    background-color: coral;
}

.field {
    border:1px solid black;
}

.piecearea {
    display: grid;
    border:1px solid red;
    width:400px;
    height:50px;
}

.pieceareaind {
    border:1px solid black;
    
}

.piece {
    border:1px solid black;
    height:100%;
    width:100%;
    text-align: center;
    align-content: center;
    font-size: 2em;
    /* position: absolute; */
}